.container{
    width: 100%;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid #d4d4d4;
    padding-left: 5px;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.logoText{
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 9px 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 1.75rem;
}

.navComponents{
    display: flex;
    padding: 0px 8px;
    justify-content: space-between;
    align-items: center;
}

.isMobile{
    display: block;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    top:56px;
    right: 0px;
    left: 0px;
    padding: 5px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.9s ease-in-out;
    border: 1px solid rgb(156, 14, 156) midnightblue; 
}

.navText,.navText1,.navText6,.navText7,.search{
    font-weight: 550;
    color:black;
    color: white;
    text-decoration: none;
    margin: 2px;
    padding: 2px 7px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navText6{
    background:red;
}

.navText7{
    background:rgb(244, 51, 151);
}

.navText:hover{
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}

.navText6:hover{
    background: rgb(175, 74, 33);
    color: white;
}

.navText7:hover{
    background: rgb(155, 67, 112);
    color: white;
}

.active{
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 5px 0px;
}

/* className='bg-gray-800 p-2 rounded-md outline-none lg:w-[350px] ms:w-[150px] pl-2' */
.search input{
    border-radius: 5px;
    outline: none;
    padding-left: 2px;
    width: 250px;
    padding: 10px;
    background-color:white;
    font-size: .9rem;
    outline: none;
    border: none;
}

.search button{
    background-color: rgb(244, 51, 151);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-left: 1px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    forced-color-adjust: none;
}

.search button:nth-child(1){
    background-color: white;
    color: black;
    margin-right: 1px;
}

.search button:nth-child(1):hover{
    color:white;
}


.search button:hover{
    background-color: rgb(244, 51, 151);
    opacity: 1.8;
}

/* className='bg-red-400 p-1 rounded-md ml-2' */

.second{
    color: blue;
}

.hamburger{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    right: 20px;
    top: 15px;
    color: white;
    margin-right: 5px;
    display: none;
}

.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.searchIcon:hover{
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}

@media screen and (max-width: 788px){
    .navComponents{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navText,.search{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 5px 0px;
        padding: 5px 0px;
    }
    .isMobile{
        display: block;
    }
    .search input{
        width: 150px;
    }
}

